#  Local .terraform directories
**/.terraform/*

# terraform lock (>= 0.14)
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# terraform.tfvars files
terraform.tfvars

# sample sql backup
DataWeekender_CU5/sample_sql_backup/*.bak
*.bak